.header {
  font-size: 3.5rem;
  font-weight: bold;
}

.description {
  font-size: 3rem;
  font-style: italic;
}
.header-row {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.current-score, .best-score {
  font-size: 1.5rem;
}

.win {
  font-size: 2rem;
  color: #010584;
}

.header-container {
  color: rgb(202, 51, 51);
}